<!DOCTYPE html>
<html>
<head>
	<title>Radio Web</title>
	<meta charset='utf-8'>
	<link rel='stylesheet' type='text/css' href='./../css/estilo.css'>

	<link rel="stylesheet" href="./../../bootstrap/css/bootstrap.min.css"/>

</head>
<body>
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="/">Início</a></li>
		<li role="presentation"><a href="/cadastra">Cadastrar</a></li>
		<li role="presentation"><a href="/lista">Listar Programas</a></li>
	</ul>
	<br>
	<div class="container" id='divao'>
   		<%= yield %>
	</div>
</body>
</html>