<!DOCTYPE html>
<html>
<head>
	<title>Página Inicial</title>
	<meta charset='utf-8'>
	<link rel='stylesheet' type='text/css' href='./css/estilo.css'>
	<link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css"/>

</head>
<body>
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="/">Início</a></li>
		<li role="presentation"><a href="/cadastra">Cadastrar</a></li>
		<li role="presentation"><a href="/programacao">Programação</a></li>
		<li role="presentation"><a href="/lista_comunicadores">Listar Comunicadores</a></li>
		<li role="presentation"><a href="/lista_programas">Listar Programas</a></li>


	</ul>
	<br>
	<div class="container">
        <div class='row'>
        	<div class="col-lg-12"> 
				<div class="panel panel-default">
					<div class="panel-heading center">
						Seja bem-vindo à Rádio Web
					</div>
					<div class="panel-body center">
						Aqui você poderá cadastrar comunicadores e programas, excluí-los, listá-los e alterá-los.
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>