
<!-- # TEM QUE SER ESSE NOMEp -->
<!DOCTYPE html>
<html>
<head>
	<title>Layout</title>
	<!-- importar js, jquery e bootstrap -->
</head>
<body>
	<div>
	<!-- menu -->
		<table>
			<tr>
				<td><a href="/"> Home </a></td>
				<td><a href="/mostra"> Mostra </a></td>
				<td><a href="/mudanca"> Muda </a></td>
				<td><a href="/remove"> Remove </a></td>					
			</tr>
		</table>
	<!-- vai cair toda a rota aqui -->
		<%= yield %>
	</div>

</body>
</html>