<!DOCTYPE html>
<html>
<head>
	<title>Adiciona</title>
</head>
<body>
	<form method="post" action="/adicionar">
		Nome: <input type="text" name="nome">
		<br>
		Apelido: <input type="text" name="apelido">
		<br>
		<input type="submit" value="Submitar">
	</form>
</body>
</html>