<!DOCTYPE html>
<html>
<head>
	<title>Adiciona</title>
</head>
<body>
	<form method="post" action="/editar">
		Nome: <input type="text" name="nome" value="<%=@professor.nome%>">
		<br>
		Apelido: <input type="text" name="apelido" value="<%=@professor.apelido%>">
		<br>
		<input type="hidden" name="id" value="<%=@professor.id%>">
		<input type="submit" value="Submitar">
	</form>
</body>
</html>