<html>
<head>
	<title>Adiciona Atendimento</title>
</head>
<body>
	<form method="post" action="/adicionar_atendimento">
		Data e Hora: <input type="datetime-local" name="dataHora">
		<br>
		<input type="submit" value="Submitar">
	</form>
</body>
</html>