<%= @m %>
<form method='post' action='/login'>
	<div class="input-group col-lg-12">
		<input required type="text" class="form-control" placeholder="Login" name='login' aria-describedby="basic-addon3">
		<input required class="form-control" placeholder="Senha" type='password' name='senha' aria-describedby="basic-addon3">
		<input type='submit'>
					  
	</div>
	
</form>