<!DOCTYPE html>
<html>
<head>
	<title>Adicionar Cliente</title>
</head>
<body>
	<form method="post" action="/salva_cliente">
		CPF: <input type="text" name="cpf">
		<br>
		Nome: <input type="text" name="nome">
		<br>
		<input type="submit" value="Submitar">
	</form>
</body>
</html>