<!DOCTYPE html>
<html>
<head>
	<title>Adicionar Produto</title>
</head>
<body>
	<form method="post" action="/salva_produto">
		Preco: <input type="number" name="preco">
		<br>
		Descrição: <input type="text" name="descricao">
		<br>
		<input type="submit" value="Enviar">
	</form>
</body>
</html>