<!DOCTYPE html>
<html>
<head>
	<title>Adicionar Garçom</title>
</head>
<body>
	<form method="post" action="/salva_garcom">
		CPF: <input type="text" name="cpf">
		<br>
		Nome: <input type="text" name="nome">
		<br>
		Data de Ingresso: <input type="date" name="dataIngresso">
		<br>
		Data de Desligamento: <input type="date" name="dataDesligamento">
		<br>
		<input type="submit" value="Submitar">
	</form>
</body>
</html>