<!DOCTYPE html>
<html>
<head>
	<title>Página Inicial</title>
</head>
<body>
	<h1>Seja bem-vindo ao bar</h1>
	<hr>
	<h2>Adicionar</h2>
	<a href='/adiciona_cliente'>Adicionar Cliente</a>
	<br>
	<a href='/adiciona_garcom'>Adicionar Garçom</a>
	<br>
	<a href='/adiciona_produto'>Adicionar Produto</a>
	<br>
	<a href='/adiciona_comanda'>Adicionar Comanda</a>
	<br><hr>
	<h2>Listar</h2>
	<a href='/lista_cliente'>Listar Cliente</a>
	<br>
	<a href='/lista_garcom'>Listar Garçom</a>
	<br>
	<a href='/lista_produto'>Listar Produto</a>
	<br>
	<a href='/lista_comanda'>Listar Comanda</a>
	<br>
	<a href='/lista_comandas_em_aberto'>Listar Comandas em Aberto</a>
	<br>
	<a href='/lista_melhores_garcons'>Listar Melhores Garçons</a>
	<br>
	<a href='/lista_clientela_frequente'>Listar os Clientes Mais Frequentes</a>
	<br>
	<hr>
	<h2>Outras funcionalidades</h2>
	<a href='/incorpora_produto'>Incorporar Produto a uma Comanda</a>
	<br>
	
	<br>
	
</body>
</html>