<!DOCTYPE html>
<html>
<head>
	<title>Adiciona Equipe</title>
</head>
<body>	
	<h1>Adicionar Equipe</h1>
	<form method="post" action="/salva_equipe">
		<input type="text" placeholder="Nome" name="nome"><br>
		<input type="submit">
	</form>
</body>
</html>