<!DOCTYPE html>
<html>
<head>
	<title>Início</title>
</head>
<body>
	<h1>CRUD de Herói</h1>
	<a href="/adiciona_heroi">Cadastrar Herói</a><br><br>
	<a href="/lista_herois">Listar Heróis</a>
	<hr>
	<h1>CRUD de Habilidade</h1>
	<a href="/adiciona_habilidade">Cadastrar Habilidade</a><br><br>
	<a href="/lista_habilidades">Listar Habilidades</a>
	<hr>
	<h1>CRUD de Equipe</h1>
	<a href="/adiciona_equipe">Cadastrar Equipe</a><br><br>
	<a href="/lista_equipes">Listar Equipe</a>
	<hr>
	<h1>Outras funcionalidades</h1>
	<a href="/adiciona_habilidade_heroi">Adicionar Habilidade à Heroi</a>
	<hr>
</body>
</html>